ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

body {
  background-color: black;
  text-align: center;
  color: white;
}

ul.ligi {
    list-style-type:none;
    color: #0000FF;
    padding: 10px 20px;
    background-color: #555;
    float: center;
    width: 40%;
    display: table;
    margin: 0 auto;
}

.ligi li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


