<!DOCTYPE html>
<html>
<head>
<title>Zmień hasło</title>

<style>
body {
  background-color: black;
  text-align: center;
  color: white;
}

</style>
</head>

<body>

{% if validlink %}

<h1>Podaj nowe hasło!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="zmień hasło">
</form>

{% else %}

<p>Link do zmiany hasła jest nieprawidłowy, możliwe że został już wcześniej użyty.<br />  Zacznij proces zmiany hasła od nowa.</p>

{% endif %}
</body>
</html>